* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #ffff;
    font-family: 'Montserrat', sans-serif;
  }
    
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card {
    background: linear-gradient(to top, rgb(146, 203, 227) 93%, rgb(36, 5, 238) 10%);
    color: #fff;
    width: 18%;
    padding: 0.6rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(4, 60, 119, 0.4);
  }
  
  @media (max-width: 991px) {
    .card {
      width: 40%
    }
  }
  
  @media (max-width: 768px) {
    .card {
      width: 50%
    }
  }
  
  @media (max-width: 441px) {
    .card {
      width: 70%
    }
  }
  
  .card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  
  .card-body {
    text-align: left;
    line-height: 1.35;
    color: black;
  }

  .hire-btn {
    text-transform: capitalize;
    background-color: rgb(36, 5, 238);
    color: #fff;
    padding: 0.775rem 5.5rem;
    display:flex;
    transition: all 0.3s linear;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
    margin: auto;
    border-radius: 30px;

  }
  
  .card-footer {
    margin-top: 1rem;
    color:black;
    font-size: 0.9rem;
  }
  .card-footer ul {
    display:block;
    /*list-style-type:&10004;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    line-height: 1.35;

  }

  .amount-child1 {
    display: inline-block;
    font-size: 1.8rem;
  }
  
  .amount-child2 {
    display: inline-block;
    font-size: 0.8rem;
    vertical-align: bottom;
  }
  
  @media (max-width: 768px) {
    
  }