*, html {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: white;
}

.first {
    font-size: 14px;
    color:green;
    text-decoration: bold;
    padding: 15px;
    margin: 15px;
    border-radius: 20%;
    border: solid 10px green;
    width: 50%;
    text-align: justify;
}

.second {
    font-size: 14px;
    color:red;
    text-decoration: bold;
    padding: 15px;
    margin: 15px;
    border-radius: 20%;
    border: solid 10px red;
    width: 50%;
    text-align: justify;
}

.third {
    font-size: 14px;
    color:blue;
    text-decoration: bold;
    padding: 15px;
    margin: 15px;
    border-radius: 20%;
    border: solid 10px blue;
    width:50%;
    text-align: justify;
}

